<div class="page-context loginPage" ng-controller="txn000001Ctrl">
    <h6>電子日誌查詢(000001)</h6>
    <div class="row">
        <div class="col-2">
            <span class="title">交易行</span>
        </div>
        <div class="col-1">
            <input ng-model="data.BranchCD" type="text" validator autocomplete="off"/>
        </div>
        <div class="col-2">
            <span class="title">交易狀態</span>
        </div>
        <div class="col-2">
            <input ng-model="data.TxnStatus" type="text" validator autocomplete="off" cb-combo-box combo-key="txn000001.TxnStatus"/>
        </div>
        <div class="col-2">
            <span class="title">金　　額</span>
        </div>
        <div class="col-1">
            <input ng-model="data.StartAmount" type="text" validator autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">員工編號</span>
        </div>
        <div class="col-3">
            <input ng-model="data.UserID" type="text" validator="" ng-init="data.UserID=user.userId" autocomplete="off"/>
        </div>
        <div class="col-2">
            <span class="title">主管編號</span>
        </div>
        <div class="col-3">
            <input ng-model="data.SupervisorID" type="text" cb-mask-to-upper-case validator="" autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">日　　期</span>
        </div>
        <div class="col-3">
            <input ng-model="data.StartDate" type="text" class="medium" cb-mask-tw-date convert-to-ad="true" validator ng-init="data.StartDate=getToday()" autocomplete="off"/>
            <span>～</span>
            <input ng-model="data.EndDate" type="text" class="medium" cb-mask-tw-date convert-to-ad="true" validator ng-init="data.EndDate=getToday()" autocomplete="off"/>
        </div>
        <div class="col-2">
            <span class="title">時　　間</span>
        </div>
        <div class="col-3">
            <input ng-model="data.StartTime" type="text" class="medium" validator autocomplete="off"/>
            <span>～</span>
            <input ng-model="data.EndTime" type="text" class="medium" validator autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
        </div>
        <div class="col-1">
            <button class="cabin-button button-blue" ng-click="send(data)">查詢</button>
        </div>
    </div>

    <div class="row">
        <div cb-grid="gridSettings" grid-data="result"></div>
    </div>
</div>
