<div class="page-context loginPage" ng-controller="txn032671Ctrl">
    <h6>客戶帳戶查詢(032671)</h6>
    <div class="row">
        <div class="col-2">
            <span class="title">客戶ID</span>
        </div>
        <div class="col-2">
            <input ng-model="data.INP_DATA" type="text" required validator="taiwanId" cb-mask-to-upper-case maxlength="10" autocomplete="off" cb-focus="true"/>
        </div>
        <div class="col-2">
            <span class="title">戶　　名</span>
        </div>
        <div class="col-5">
            <input type="text" ng-model="name" disabled cb-mask-to-full validator autocomplete="off"/>
        </div>
 <!--        <div class="col-2">
            <span class="title">主機櫃員代號</span>
        </div>
        <div class="col-2">
            <input ng-model="data.hId" type="text" />
        </div>
        <div class="col-2">
            <span class="title">主機櫃員名稱</span>
        </div>
        <div class="col-2">
            <input ng-model="data.hName"  type="text" />
        </div> -->
    </div>
     <div class="row">
        <div class="col-9">
        </div>
        <div class="col-1">
            <button class="cabin-button button-blue" ng-click="send(data)">查詢</button>
        </div>
    </div>
     <div class="row">
        <div cb-grid="gridSettings" grid-data="result"></div>
    </div>
</div>
