<!--[if IE 7 ]>      
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js ie ie7 lte7 lte8 lte9" lang="zh-tw"> <![endif]-->
<!--[if IE 8 ]>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js ie ie8 lte8 lte9" lang="zh-tw"> <![endif]-->
<!--[if IE 9 ]>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js ie ie9 lte9>" lang="zh-tw"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!doctype html>
<html class="no-js" lang="zh-tw" ng-cloak>
<!--<![endif]-->

<head>
    <base href="/" target="_blank" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>cabin</title>
    <!-- build:css({.tmp,src}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!--[if lt IE 9]>
        <script src="libs/components/html5shiv/dist/html5shiv.js"></script>
        <script src="libs/components/json3/lib/json3.min.js"></script>
        <script src="libs/components/respond/respond.min.js"></script>
    <![endif]-->
    <!-- build:js({.tmp,src}) scripts/scripts.js -->
    <script src="libs/components/requirejs/require.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</head>

<body ng-controller="appCtrl" ng-class="{'is-login':isLogin}">
    <!-- <header cb-module="cbTopMenu" receive-event="topMenuBar" emit-event="sideBar"> -->
    <header ng-show="isLogin" class="slide-down">
        <div class="top-menu page-content">
            <span class="banner">
                <div class="img"></div>
            </span>
            <span class="info">
                <div>
                    <div>分行　　：{{user.branchId}}
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LU： {{user.luNo}}</span>
                    </div>
                    <div>使用者　：{{user.userId}} - 高級專員 ({{user.bankUserId}})</div>
                    <div>營業日期：{{user.bizDate}} - {{currentTime | date:'HH:mm:ss'}}</div>
                </div>
            </span>

            <nav class="buttons">
                <ul>
                    <li>
                        <a href="" class="icon icon-booklet" ng-tooltip="日誌" ng-click=""></a>
                    </li>
                    <li>
                        <a href="" class="icon icon-security" ng-tooltip="授權" ng-click="openModal()"></a>
                    </li>
                    <li>
                        <a href="" class="icon icon-compose" ng-tooltip="代辦" ng-click="openSupModal()"></a>
                    </li>
                    <li>
                        <a href="" class="icon icon-browser" ng-tooltip="理規Web"></a>
                    </li>
                    <li>
                        <a href="" class="icon icon-computer" ng-tooltip="3270" ng-click="sendMessage()"></a>
                    </li>
                    <li>
                        <a href="" class="icon icon-power" ng-tooltip="簽退"  ng-click="logout()"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </header>
    <div class="main-body ng-cloak page-content">
        <div ng-hide="!isLogin || isLock" class="toggle">
            <div cb-module="cbPageViewer" init-path="favorite" receive-event="pageViewer"></div>
        </div>
        <div ng-if="isLogin != undefined && !isLogin">
            <div class="login">
                <div class="login-screen">
                    <div class="login-icon">
                        <img src="images/login/icon.png" alt="Welcome to Mail App">
                        <h4>Welcome to
                            <small>iBranch</small>
                        </h4>
                    </div>
                    <form name="userForm" ng-sublmit="login(userForm)" novalidate>
                        <div class="login-form">
                            <div class="form-group">
                                <input autofocus type="text" required class="form-control login-field" ng-model="userForm.userId" value="" placeholder="Enter your name" id="login-name">
                                <label class="login-field-icon fui-user" for="login-name"></label>
                            </div>

                            <div class="form-group">
                                <input type="password" required ng-model="userForm.password" class="form-control login-field" value="" placeholder="Password" id="login-pass">
                                <label class="login-field-icon fui-lock" for="login-pass"></label>
                            </div>
                            <input type='submit' class="btn btn-primary btn-lg btn-block" ng-click="login(userForm)" value="Log in" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <footer ng-show="isLogin" class="slide-top">
    </footer> -->
    <div ng-show="isLogin" class="toggle" cb-module="cbNotify"></div>
    <div ui-view></div>
</body>
