<!--[if IE 7 ]>      
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js ie ie7 lte7 lte8 lte9" lang="zh-tw"> <![endif]-->
<!--[if IE 8 ]>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js ie ie8 lte8 lte9" lang="zh-tw"> <![endif]-->
<!--[if IE 9 ]>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js ie ie9 lte9>" lang="zh-tw"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!doctype html>
<html class="no-js" lang="zh-tw">
<!--<![endif]-->

<head>
    <base href="{{baseUrl}}" target="_blank" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>cabin</title>
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!--[if lt IE 9]>
        <script src="libs/components/html5shiv/dist/html5shiv.js"></script>
        <script src="libs/components/json3/lib/json3.min.js"></script>
        <script src="libs/components/respond/respond.min.js"></script>
    <![endif]-->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="libs/components/requirejs/require.js"></script>
    <script src="sample-normal/scripts/main.js"></script>
    <!-- endbuild -->
</head>

<body ng-controller="appCtrl" class="ng-cloak">
    <header>
        <div class="top-menu page-content">
            <nav class="top">
                <ul>
                    <li ng-repeat="page in pages" ng-class="navClass(page)" ng-click="routeTo(page.url)">
                        <a>{{page.name || page.url}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="main-body ng-cloak page-content">
        <aside>
            <nav>
                <div class="title">
                    <span>{{current.name}}</span>
                </div>
                <ul class="links">
                    <li ng-repeat="page in current.child" ng-click="routeTo(page.url)" class="scale-fade-in">
                        <a>{{page.name}}</a>
                    </li>
                </ul>
            </nav>

        </aside>
        <section ui-view></section>
    </div>
    <div ng-include="'_title.html'" ng-init="$active='normal'"></div>
</body>
