<div class="page-context loginPage" ng-controller="txn120606Ctrl">
    <h6>黃金存摺餘額/存額證明列印(120606)</h6>
    <div class="row">
        <div class="col-12">
            <span class="title">功　　能</span>
        </div>
        <div class="col-12">
            <input name="func" ng-model="data.FUNC_01" type="text" required cb-combo-box combo-key="txn120606.FUNC_01" edit="true" validator autocomplete="off" cb-focus="true"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title">身分證號</span>
        </div>
        <div class="col-12">
            <input ng-model="data.IDNO" required type="text" cb-mask-to-upper-case validator="taiwanId" maxlength="10" autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title">列 印 別</span>
        </div>
        <div class="col-12">
            <input ng-model="data.PRT_FLG" type="text" cb-combo-box combo-key="txn120606.PRT_FLG" edit="true" combo-view-items="3" validator autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title">黃金帳號</span>
        </div>
        <div class="col-18">
            <input ng-model="data.ACNO_SA" type="text" validator="ACNOVal,txn120606ACNOVal" maxlength="12" autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title">證明日期</span>
        </div>
        <div class="col-12">
            <input ng-model="data.P_DATE" required type="text" class="medium" cb-mask-tw-date convert-to-ad="true" validator autocomplete="off"/>
        </div>
        <div class="col-12">
            <span class="title">申請用途</span>
        </div>
        <div class="col-30">
            <input type="text" ng-model="data.P_USE" cb-mask-to-full validator autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title">證明重量</span>
        </div>
        <div class="col-6">
            <input ng-model="data.P_AMT" required cb-mask-number type="text" validator autocomplete="off"/>
        </div>
        <div class="col-6">
            <span class="title">公克</span>
        </div>
        <div class="col-12">
            <span class="title">幣別</span>
        </div>
        <div class="col-12">
            <input ng-model="data.P_CUR" type="text" label="currencyss" cb-mask-to-upper-case cb-combo-box combo-key="txn120606.P_CUR" edit="true" validator autocomplete="off"/>
        </div>
        <div class="col-6">
            <span class="title">匯率</span>
        </div>
        <div class="col-6">
            <input ng-model="data.P_RATE" cb-mask-number required type="text" validator autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title">印錄文字</span>
        </div>
        <div class="col-12">
            <input ng-model="data.P_WORD" type="text" required cb-mask-to-upper-case cb-combo-box combo-key="txn120606.P_WORD" edit="true" validator autocomplete="off"/>
        </div>
        <div class="col-12">
            <span class="title">印錄份數</span>
        </div>
        <div class="col-6">
            <input ng-model="data.P_COPY" required type="text" validator="txn120606COPY" autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title">英文名稱</span>
        </div>
        <div class="col-30">
            <input ng-model="data.ENG_NAME1" ng-disabled="data.P_WORD != '2'" cb-mask-to-full type="text" cb-maxlength="57" validator autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title"></span>
        </div>
        <div class="col-30">
            <input name="engName2" ng-model="data.ENG_NAME2" ng-disabled="data.P_WORD != '2'" cb-mask-to-full type="text" cb-maxlength="57" validator autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title">備　　註</span>
        </div>
        <div class="col-30">
            <input ng-model="data.REF1" cb-maxlength="75"  type="text" cb-mask-to-upper-case cb-mask-to-full validator autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title"></span>
        </div>
        <div class="col-30">
            <input ng-model="data.REF2" type="text" cb-maxlength="75" cb-mask-to-full validator autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title"></span>
        </div>
        <div class="col-30">
            <input ng-model="data.REF3" type="text" cb-maxlength="75" cb-mask-to-full validator autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title">文　　號</span>
        </div>
        <div class="col-6">
            <span class="title">北銀</span>
        </div>
        <div class="col-6">
            <input ng-model="data.T_REF" type="text" cb-mask-to-full required cb-number validator cb-maxlength="9" autocomplete="off"/>
        </div>
        <div class="col-6">
            <span class="title">字第</span>
        </div>
        <div class="col-18">
            <input ng-model="data.T_SEQ" type="text" required cb-number validator cb-maxlength="10" autocomplete="off"/>
        </div>
        <div class="col-6">
            <span class="title">號</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title">手 續 費</span>
        </div>
        <div class="col-12">
            <input type="text" ng-model="data.FEE_AMT" cb-mask-number validator autocomplete="off"/>
        </div>
        <div class="col-12">
            <span class="title">收款方式</span>
        </div>
        <div class="col-12">
            <input type="text" ng-model="data.ACT_TYP" cb-length="10" cb-combo-box combo-key="txn120606.ACT_TYP" edit="true" validator autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="title">戶　　名</span>
        </div>
        <div class="col-30">
            <input type="text" ng-model="data.NAME" disabled="disabeld" cb-mask-to-full validator autocomplete="off"/>
        </div>

    </div>
</div>
