<div class="page-context loginPage" ng-controller="txn120606Ctrl">
    <h6>黃金存摺餘額/存額證明列印(120606)</h6>
    <div class="row">
        <div class="col-2">
            <span class="title">功　　能</span>
        </div>
        <div class="col-3">
            <input name="func" ng-model="data.FUNC_01" type="text" required cb-combo-box combo-key="txn120606.FUNC_01" edit="true" validator/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">身份証號</span>
        </div>
        <div class="col-3">
            <input ng-model="data.IDNO" required type="text" cb-mask-to-upper-case validator="taiwanId"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">列印分行</span>
        </div>
        <div class="col-5">
            <input ng-model="data.PRT_FLG" type="text"  cb-combo-box combo-key="ttxn120606.PRT_FLG" edit="true" class="large" combo-view-items="3" validator/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">黃金帳號</span>
        </div>
        <div class="col-3">
            <input ng-model="data.ACNO_SA" type="text" class="large" validator="txn120606ACNOVal" maxlength="12"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">證明日期</span>
        </div>
        <div class="col-2">
            <input ng-model="data.P_DATE" required type="text" cb-mask-tw-date convert-to-ad="true" validator/>
        </div>
        <div class="col-2">
            <span class="title">申請用途</span>
        </div>
        <div class="col-5">
            <input type="text" ng-model="data.P_USE" class="extra-large" cb-mask-to-full validator/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">證明重量</span>
        </div>
        <div class="col-2">
            <input ng-model="data.P_AMT" required cb-mask-number type="text" validator/>公克
        </div>
        <div class="col-2">
            <span class="title">幣別</span>
        </div>
        <div class="col-2">
            <input ng-model="data.P_CUR"  type="text"  label="currencyss" cb-mask-to-upper-case cb-combo-box combo-key="txn120606.P_CUR" edit="true" validator/>
        </div>
        <div class="col-1">
            <span class="title">匯率</span>
        </div>
        <div class="col-2">
            <input ng-model="data.P_RATE" cb-mask-number required type="text" validator/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">印錄文件</span>
        </div>
        <div class="col-2">
            <input ng-model="data.P_WORD" type="text" required cb-mask-to-upper-case cb-combo-box combo-key="txn120606.P_WORD" edit="true" validator/>
        </div>
        <div class="col-2">
            <span class="title">印錄份數</span>
        </div>
        <div class="col-3">
            <input ng-model="data.P_COPY" required type="text" validator="txn120606COPY"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">英文名稱</span>
        </div>
        <div class="col-5">
            <input ng-model="data.ENG_NAME1" ng-disabled="data.P_WORD != '2'" cb-mask-to-full type="text" class="extra-large" cb-maxlength="12" validator/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title"></span>
        </div>
        <div class="col-5">
            <input name="engName2" ng-model="data.ENG_NAME2" ng-disabled="data.P_WORD != '2'" cb-mask-to-full type="text" class="extra-large" validator/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">備　　註</span>
        </div>
        <div class="col-5">
            <input ng-model="data.REF1" type="text" class="extra-large" cb-mask-to-full validator/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title"></span>
        </div>
        <div class="col-5">
            <input ng-model="data.REF2" type="text" class="extra-large" cb-mask-to-full validator/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title"></span>
        </div>
        <div class="col-5">
            <input ng-model="data.REF3" type="text" class="extra-large" cb-mask-to-full validator/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">文　　號</span>
        </div>
        <div class="col-5">
            北銀
            <input ng-model="data.T_REF" type="text" cb-mask-to-full required cb-number validator/>字第
            <input ng-model="data.T_SEQ" type="text"  required cb-number validator/>號
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">手 續 費</span>
        </div>
        <div class="col-2">
            <input type="text" ng-model="data.FEE_AMT" cb-mask-number validator/>
        </div>
        <div class="col-2">
            <span class="title">收款方式</span>
        </div>
        <div class="col-2">
            <input type="text" ng-model="data.ACT_TYP" cb-combo-box combo-key="txn120606.ACT_TYP" edit="true" validator/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <span class="title">戶　　名</span>
        </div>
        <div class="col-5">
            <input type="text" ng-model="data.NAME" class="extra-large" cb-mask-to-full validator/>
        </div>

    </div>
</div>
