<div class="page-context loginPage" ng-controller="txn120606Ctrl">
    <h6>黃金存摺餘額/存額證明列印(120606)</h6>
    <form>
        <div class="row">
            <div class="col-2">
                <span class="title">功　　能</span>
            </div>
            <div class="col-3">
                <input ng-model="data.func" type="text" cb-combo-box combo-key="txn120606.func" edit="true" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title">身份証號</span>
            </div>
            <div class="col-3">
                <input ng-model="data.custId" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title">列印分行</span>
            </div>
            <div class="col-5">
                <input ng-model="data.branch" type="text" cb-combo-box combo-key="txn120606.branch" edit="true"  class="large" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title">黃金帳號</span>
            </div>
            <div class="col-3">
                <input ng-model="data.account" type="text" class="large" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title">證明日期</span>
            </div>
            <div class="col-2">
                <input ng-model="data.date" type="text" />
            </div>
            <div class="col-2">
                <span class="title">申請用途</span>
            </div>
            <div class="col-3">
                <input type="text" ng-model="data.descript" class="extra-large" cb-mask-to-full />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title">證明重量</span>
            </div>
            <div class="col-2">
                <input ng-model="data.kg" type="text" />公克
            </div>
            <div class="col-2">
                <span class="title">幣別</span>
            </div>
            <div class="col-2">
                <input ng-model="data.currency" type="text" cb-combo-box combo-key="txn120606.currency" edit="true" />
            </div>
            <div class="col-1">
                <span class="title">匯率</span>
            </div>
            <div class="col-2">
               <input ng-model="data.rate" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title">印錄文件</span>
            </div>
            <div class="col-2">
                <input ng-model="data.pType" type="text" cb-combo-box combo-key="txn120606.pType" edit="true" />
            </div>
            <div class="col-2">
                <span class="title">印錄份數</span>
            </div>
            <div class="col-3">
                <input ng-model="data.pNum" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title">英文名稱</span>
            </div>
            <div class="col-5">
                <input ng-model="data.engName1" type="text" class="extra-large" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title"></span>
            </div>
            <div class="col-5">
                <input ng-model="data.engName2" type="text" class="extra-large" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title">備　　註</span>
            </div>
            <div class="col-5">
                <input ng-model="data.memo1" type="text" class="extra-large" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title"></span>
            </div>
            <div class="col-5">
                <input ng-model="data.memo2" type="text" class="extra-large" cb-mask-to-full />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title"></span>
            </div>
            <div class="col-5">
                <input ng-model="data.memo3" type="text" class="extra-large"  cb-mask-to-full/>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title">文　　號</span>
            </div>
            <div class="col-5">
                北銀 <input ng-model="data.num" type="text" />  字第 <input ng-model="data.num" type="text" /> 號
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title">手 續 費</span>
            </div>
            <div class="col-3">
                <input type="text" ng-model="data.amount" cb-mask-number />
            </div>
            <div class="col-3">
                <span class="title">收款方式</span>
            </div>
            <div class="col-2">
                <input type="text" ng-model="data.payType" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <span class="title">戶　　名</span>
            </div>
            <div class="col-5">
                <input type="text" ng-model="data.custName" class="extra-large" />
            </div>
            
        </div>
    </form>
    <div></div>
</div>
